    # format for creating an entry in Budgie's Brisk Menu to easily launch/find an application
    # save edited version with actual fields to: ~/.local/share/applications
    
    [Desktop Entry]

    Type=Application

    Version=1.0

    Name=AppToMakeABudgieMenuEntryFor

    Comment=A tooltip comment

    # The path to the folder in which the executable is run
    Path=/home/user/bin/AppToMakeABudgieMenuEntryForFolder/

    # The actual executable of the application, can pass arguments
    Exec=/home/user/bin/AppToMakeABudgieMenuEntryForFolder/AppToMakeABudgieMenuEntryFor

    Icon=/home/user/bin/AppToMakeABudgieMenuEntryForFolder/icons/icon.png

    # Whether this application needs to be run in a terminal or not
    Terminal=false

    # Categories in which to show this entry, like Game, AudioVideo, or Office, full list of categories 
    # can be derived from contents of /usr/share/desktop-directories
    Categories=Education

    



