    [Desktop Entry]

    #The type as listed above
    Type=Application

    #The version of the desktop entry specification to which this file complies
    Version=1.0

    #The name of the application
    Name=Tuxguitar

    #A comment which can/will be used as a tooltip
    Comment=Editor de tablaturas

    #The path to the folder in which the executable is run
    Path=/home/os4/.bin/tuxguitar-1.5.2-linux-x86_64/

    #The executable of the application, possibly with arguments.
    Exec=/home/os4/.bin/tuxguitar-1.5.2-linux-x86_64/tuxguitar.sh

    #The name of the icon that will be used to display this entry
    Icon=/home/os4/.bin/tuxguitar-1.5.2-linux-x86_64/share/skins/Lavender/logo.png

    #Describes whether this application needs to be run in a terminal or not
    Terminal=false

    #Describes the categories in which this entry should be shown
    Categories=AudioVideo

    



    # save to: ~/.local/share/applications
